
body{
    text-align: center;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;

}
.juego{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgp{
    width: 45%;
}
.parrafo{
    width: 45%;
    font-size: 25px;
}
h2{
    font-size: 30px;
    color: aquamarine;
}
button{
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    color: rgb(0, 89, 255);
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-width: 480px) and (max-height: 800px) {
    .juego{
        display: flex;
        flex-direction: column;
    }
    .imgp{
        width: 95%;
    }
    .parrafo{
        width: 95%;
    }
    button{
        position: relative;
    }
    h2{
        position: relative;
        bottom: 30px;
    }
}
  